<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <style>
        th,
        td,
        body {
            direction: ltr;
        }
    </style>
</head>
<body>
<div id="app">
    <div
            class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
    >
        <h5 class="my-0 mr-md-auto font-weight-normal">Website Change Tracker</h5>
    </div>

    <div class="container">
        <div class="card-deck mb-4 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Select Tracker</h4>
                    <select v-model="selectedTracker" @change="onTrackerChange($event)">
                        <option v-for="tracker in trackers" :value="tracker.url">
                            {{tracker.url}}
                        </option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-success" v-on:click="loadTrackingData()">Refresh</button>
                    <table class="table table-bordered">
                        <tr>
                            <th>URL</th>
                            <th>Time</th>
                            <th>Loading Time</th>
                            <th>Status Code</th>
                        </tr>
                        <tr v-for="(data, index) in filteredTrackingData">
                            <td>{{data.url}}</td>
                            <td>{{data.time}}</td>
                            <td>{{data.loadingTime}}</td>
                            <td>{{data.statusCode}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            Website Change Tracker
        </footer>
    </div>
</div>
</body>
</html>